.col-sm {
  width: 100px;
  text-align: center;
}
.col-md {
  width: 200px;
}
.col-lg {
  width: 300px;
}
table {
  border: 1px solid black;
}
tr {
  border: 1px solid grey;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #000000; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
